[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
drf-nested-routers = "*"
"flake8" = "*"
twilio = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.6"
